@charset "UTF-8";
/* ***Reset*** */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ***Estilos globales*** */
body {
  font-family: "Bebas Neue", sans-serif;
  color: #fffdfc;
}

main {
  background-color: #000000;
}

footer {
  background-color: #655f61;
}

h1 {
  font-size: 7rem;
  font-weight: 100;
}

h2 {
  font-size: 3.5rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  padding: 35px;
}

h4 {
  font-size: 1.8rem;
  font-weight: 100;
  color: black;
}

p {
  font-size: 1.25rem;
  font-family: "Roboto", sans-serif;
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/*--------------------------------------------*/
.main-testimonios .grid-container div .textot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(182, 182, 182, 0.89), rgba(240, 240, 240, 0.849));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 4rem 0 4rem;
  opacity: 0;
  transition: 1s;
}

/* *** Header *** */
header {
  z-index: 1;
  background-color: #141514;
  position: sticky;
  top: 0;
}
header nav img {
  height: 90px;
  width: 90px;
}
header .menu-nav {
  flex-grow: 0;
}
header .nav-item {
  text-decoration: none;
  color: #fffdfc;
  font-size: 1.3rem;
}
header .nav-item:hover {
  color: red;
}
header .navbar-nav {
  column-gap: 1.5rem;
  letter-spacing: 2.5px;
}
header .navbar-toggler {
  background-color: rgb(185, 4, 4);
}
header .navbar-toggler:hover {
  color: white;
}

/*--------------------------------------------*/
/* ***Index content*** */
.main-index .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-index .flex-container .text a .btn-index {
  margin-top: 35px;
  height: 60px;
  width: 250px;
  background-color: red;
  color: black;
  font-family: "Bebas Neue", sans-serif;
  font-size: 35px;
  border-radius: 10px;
  letter-spacing: 1.5px;
  border: 2px solid #f1f1f1;
  text-align: center;
  line-height: 60px;
}
.main-index .flex-container .text a .btn-index:hover {
  background-color: transparent;
  color: red;
  border: 2px solid red;
}
.main-index .flex-container .hero {
  background-image: url("../img/modelo-fitness.jpg");
  height: 700px;
  width: 540px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 100px;
}

/*--------------------------------------------*/
/* ***Cards I Apartado planes*** */
.main-planes .card-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 7rem;
}
.main-planes .card-container .asesorias {
  display: flex;
  justify-content: space-evenly;
}
.main-planes .card-container .asesorias .card {
  height: 25.625rem;
  width: 21.25rem;
  background-color: rgb(252, 252, 33);
  border-radius: 20px 0;
  overflow: hidden;
}
.main-planes .card-container .asesorias .card img {
  height: 12.5rem;
  width: 100%;
}
.main-planes .card-container .asesorias .card .card-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 50%;
}
.main-planes .card-container .asesorias .card .card-texto p {
  font-size: 1.1rem;
  padding: 0 1rem 0 1rem;
}
.main-planes .card-container .asesorias .card .card-texto .btn-card {
  height: 2.5rem;
  width: 6.25rem;
  letter-spacing: 0.5px;
  border-radius: 10px;
  background-color: rgb(214, 214, 214);
}
.main-planes .card-container .asesorias .card .card-texto .btn-card:hover {
  background-color: rgb(26, 26, 26);
  color: white;
}

.shadow-1 {
  box-shadow: 14px 12px 15px 0px rgba(212, 212, 212, 0.356);
  -webkit-box-shadow: 14px 12px 15px 0px rgba(212, 212, 212, 0.356);
  -moz-box-shadow: 14px 12px 15px 0px rgba(212, 212, 212, 0.356);
}

.shadow-2 {
  box-shadow: 14px 12px 15px 0px rgb(102, 43, 91);
  -webkit-box-shadow: 14px 12px 15px 0px rgb(102, 43, 91);
  -moz-box-shadow: 14px 12px 15px 0px rgb(102, 43, 91);
}

/*--------------------------------------------*/
/* *** Apartado testimonios *** */
.main-testimonios .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 3rem;
  padding: 0 7rem 7rem 7rem;
}
.main-testimonios .grid-container div {
  position: relative;
}
.main-testimonios .grid-container div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-testimonios .grid-container div .textot:hover {
  opacity: 1;
  transition: 1s;
}
.main-testimonios .grid-container div .textot p {
  font-size: 1.5rem;
  color: black;
}

/*--------------------------------------------*/
/* ***Sección de Nosotros***  */
.main-nosotros .texto-nosotros {
  width: 500px;
  padding-bottom: 5rem;
}
.main-nosotros .nosotros {
  background-image: url("./../img/sobre-nosotros.jpg");
  height: 1200px;
  width: 1200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: 50px;
  border-radius: 0 20px 20px 0;
}

/*--------------------------------------------*/
/* *** Apartado Contacto *** */
.main-contacto .contact-content form .btn-form {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: red;
  color: white;
  border: none;
  letter-spacing: 1px;
}
.main-contacto .contact-content form .btn-form:hover {
  background-color: rgb(158, 0, 0);
  color: white;
}
.main-contacto .contact-content .hero-contacto {
  background-image: url("../img/img-contacto.jpg");
  height: 430px;
  width: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/*--------------------------------------------*/
footer .media {
  column-gap: 10px;
  background-repeat: no-repeat;
}
footer .media a .fb {
  background-image: url("./../img/redes/fb.png");
  height: 30px;
  width: 32px;
  background-size: 35px;
}
footer .media a .wpp {
  background-image: url("./../img/redes/wpp.png");
  height: 35px;
  width: 35px;
  background-size: 40px;
}
footer .media a .ig {
  background-image: url("./../img/redes/ig.png");
  height: 35px;
  width: 32px;
  background-size: 35px;
}
footer .text-copy p {
  font-size: 1rem;
}

/* *** MEDIA QUERIES *** */
@media only screen and (max-width: 768px) {
  /* *** Index *** */
  .main-index .flex-container {
    padding: 3rem;
  }
  .main-index .flex-container .text h1 {
    font-size: 4rem;
  }
  .main-index .flex-container .text p {
    margin-bottom: 0;
    font-size: 16px;
  }
  .main-index .flex-container .text a .btn-index {
    height: 50px;
    width: 200px;
    font-size: 28px;
    line-height: 25px;
  }
  .main-index .flex-container .hero {
    margin-left: 3rem;
    height: 560px;
    width: 432px;
  }
  /* *** planes *** */
  .main-planes .card-container {
    padding-bottom: 5rem;
  }
  .main-planes .card-container .asesorias .card {
    height: 23rem;
    margin: 0.7rem;
  }
  .main-planes .card-container .asesorias .card img {
    height: 12.5rem;
  }
  .main-planes .card-container .asesorias .card .card-texto {
    height: 85%;
  }
  .main-planes .card-container .asesorias .card .card-texto p {
    font-size: 1rem;
  }
  /* *** testimonios *** */
  .main-testimonios section .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0 3rem 3rem 3rem;
  }
  .main-testimonios section .grid-container div .textot h4 {
    font-size: 1.2rem;
  }
  .main-testimonios section .grid-container div .textot p {
    font-size: 0.8rem;
  }
  /* *** nosotros *** */
  .main-nosotros .cont {
    padding: 0 2rem 0 2rem;
  }
  .main-nosotros .cont .texto-nosotros {
    width: 700px;
  }
  .main-nosotros .cont .texto-nosotros p {
    padding-bottom: 1rem;
  }
  .main-nosotros .cont .nosotros {
    width: 1000px;
  }
  /* *** Contacto *** */
  .main-contacto .contact-content {
    padding: 0 2.5rem 0 2.5rem;
  }
  .main-contacto .contact-content .hero-contacto {
    height: 250px;
    width: 850px;
    margin-left: 3rem;
  }
}
@media only screen and (max-width: 576px) {
  /* *** Index media *** */
  .main-index .flex-container {
    padding-bottom: 4rem;
  }
  .main-index .flex-container .text {
    text-align: center;
  }
  .main-index .flex-container .text h1 {
    font-size: 6rem;
  }
  .main-index .flex-container .text p {
    font-size: 20px;
  }
  .main-index .flex-container .text a .btn-index {
    height: 60px;
    width: 300px;
    font-size: 35px;
  }
  .main-index .flex-container .hero {
    display: none;
  }
  /* *** planes media *** */
  .main-planes .card-container {
    padding-bottom: 3rem;
  }
  .main-planes .card-container .asesorias {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-planes .card-container .asesorias .card {
    margin-bottom: 3rem;
    height: 28rem;
    width: 22rem;
  }
  .main-planes .card-container .asesorias .card .img {
    height: 20rem;
  }
  .main-planes .card-container .asesorias .card .card-texto {
    height: 75%;
  }
  .main-planes .card-container .asesorias .card .card-texto h3 {
    font-size: 1.75rem;
  }
  .main-planes .card-container .asesorias .card .card-texto p {
    font-size: 1.2rem;
  }
  /* *** testimonios media *** */
  .main-testimonios section .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    padding: 0 4rem 4rem 4rem;
  }
  .main-testimonios section .grid-container div .textot h4 {
    font-size: 2rem;
  }
  .main-testimonios section .grid-container div .textot p {
    font-size: 1.3rem;
  }
  /* *** nosotros media *** */
  .main-nosotros .cont {
    flex-direction: column;
    padding-bottom: 5rem;
  }
  .main-nosotros .cont .texto-nosotros {
    width: 400px;
    padding-bottom: 4rem;
  }
  .main-nosotros .cont .nosotros {
    width: 450px;
    height: 400px;
  }
  /* *** contacto media *** */
  .main-contacto .contact-content .hero-contacto {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
