/* ***Reset*** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* ***Estilos generales de texto*** */
h1 {
    font-size: 7rem;
    font-weight: 100;
}

h2 {
    font-size: 3.5rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
    padding: 35px;
}

p {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
}


body {
    font-family: 'Bebas Neue', sans-serif;
    color: #fffdfc;
}

footer section p {
    font-size: 1rem;
}

/*--------------------------------------------*/


/* ***secciones principales*** */
header {
    z-index: 1;
    background-color: #141514;
    position: sticky;
    top: 0;
}

main {
    background-color: #000000;
}

footer {
    background-color: #655f61;
}


/*--------------------------------------------*/



/* ***Navbar*** */

header nav img {
    height: 90px;
    width: 90px;
}

.menu-nav {
    flex-grow: 0;

}

.nav-item {
    text-decoration: none;
    color: #fffdfc;
    font-size: 1.3rem;

}

.nav-link:hover {
    color: red;
}

.navbar-nav {
    column-gap: 1.5rem;
    letter-spacing: 2.5px;

}

.navbar-toggler {
    background-color: rgb(185, 4, 4);

}

.navbar-toggler:hover {
    color: white;
}

/*--------------------------------------------*/


/* Botones */

.btn-index {
    margin-top: 35px;
    height: 60px;
    width: 250px;
    background-color: red;
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    border-radius: 10px;
    letter-spacing: 1.5px;
    border: 2px solid #f1f1f1;


}

button:active {
    transform: translateY(2px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    color: red !important;
    border: 2px solid red !important;
}


/*--------------------------------------------*/


/* ***Index content*** */

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero {
    background-image: url("../img/modelo-fitness.jpg");
    height: 700px;
    width: 540px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 100px;

}

/*--------------------------------------------*/



/* ***Sección de Nosotros***  */

.nosotros {
    background-image: url("./../img/sobre-nosotros.jpg");
    height: 1200px;
    width: 1200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 50px;
    border-radius: 0 20px 20px 0;
}

.texto-nosotros {
    width: 500px;
    padding-bottom: 5rem;
}

/*--------------------------------------------*/


/* ***apartado redes sociales*** */

.media {
    column-gap: 10px;
    background-repeat: no-repeat;
}


.ig {
    background-image: url("./../img/redes/ig.png");
    height: 35px;
    width: 32px;
    background-size: 35px;


}

.fb {
    background-image: url("./../img/redes/fb.png");
    height: 30px;
    width: 32px;
    background-size: 35px;

}

.wpp {
    background-image: url("./../img/redes/wpp.png");
    height: 35px;
    width: 35px;
    background-size: 40px;
}


/*--------------------------------------------*/


/* ***Apartado Cards*** */

.card {
    height: 25.625rem;
    width: 21.25rem;
    background-color: rgb(252, 252, 33);
    border-radius: 20px 0;
    overflow: hidden;


}

.shadow-1 {
    box-shadow: 14px 12px 15px 0px rgba(212, 212, 212, 0.356);
    -webkit-box-shadow: 14px 12px 15px 0px rgba(212, 212, 212, 0.356);
    -moz-box-shadow: 14px 12px 15px 0px rgba(212, 212, 212, 0.356);
}

.shadow-2 {
    box-shadow: 14px 12px 15px 0px rgb(102, 43, 91);
    -webkit-box-shadow: 14px 12px 15px 0px rgb(102, 43, 91);
    -moz-box-shadow: 14px 12px 15px 0px rgb(102, 43, 91);
}


.card img {
    height: 12.5rem;
    width: 100%;
}


.card-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 7rem;

}

.asesorias {
    display: flex;
    justify-content: space-evenly;
}

.card-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.btn-card {
    height: 2.5rem;
    width: 6.25rem;
    letter-spacing: 0.5px;
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
}

.btn-card:hover {
    background-color: rgb(26, 26, 26);
    color: white;
}

/*--------------------------------------------*/



/* *** Apartado testimonios *** */

/* Proximamente Hacer una pseudoclase de pasar el mouse y que muestre la historia de cada persona */

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 3rem;
    padding: 0 7rem 7rem 7rem;
}



.grid-container div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*--------------------------------------------*/




/* *** Apartado Contacto *** */

.hero-contacto {
    background-image: url("../img/img-contacto.jpg");
    height: 430px;
    width: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.btn-form {
    height: 30px;
    width: 150px;
    border-radius: 10px;
    background-color: red;
    color: white;
    border: none;
    letter-spacing: 1px;

}

.btn-form:hover {
    background-color: rgb(158, 0, 0);
    color: white;
}


/*--------------------------------------------*/





/* *** MEDIA QUERIES *** */

@media only screen and (max-width:768px) {

    /* *** Index media *** */
    h1 {
        font-size: 4rem;
    }

    .flex-container {
        padding: 3rem;
    }

    .hero {
        margin-left: 3rem;
        height: 560px;
        width: 432px;
    }


    p {
        margin-bottom: 0;
        font-size: 16px;
    }

    .btn-index {
        height: 50px;
        width: 200px;
        font-size: 28px;
    }

    /*--------------------------------------------*/


    /* *** nosotros media *** */
    p {
        padding-bottom: 1rem;
    }

    .texto-nosotros {
        width: 700px;
    }

    .nosotros {
        width: 1000px;
    }

    .cont {
        padding: 0 2rem 0 2rem;
    }

    /*--------------------------------------------*/


    /* *** planes media *** */
    .card img {
        height: 15rem;
    }

    .card {

        height: 23rem;
        margin: 0.7rem;
        ;

    }

    .card-texto {
        height: 85%;
    }

    .card-container {
        padding-bottom: 5rem;
    }

    /*--------------------------------------------*/


    /* *** testimonios media *** */
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    /*--------------------------------------------*/


    /* *** Contacto media *** */

    .contact-content {
        padding: 0 2.5rem 0 2.5rem;
    }

    .hero-contacto {
        height: 250px;
        width: 850px;
        margin-left: 3rem;
    }

    /*--------------------------------------------*/

}

@media only screen and (max-width:576px) {

    /* *** Index media *** */
    h1 {
        font-size: 6rem;
    }

    p {
        font-size: 20px;
    }

    .text {
        text-align: center;

    }

    .btn-index {
        height: 60px;
        width: 300px;
        font-size: 35px;
    }

    .hero {
        display: none;
    }

    .flex-container {
        padding-bottom: 4rem;
    }

    /*--------------------------------------------*/

    /* *** nosotros media *** */
    .cont {
        flex-direction: column;
        padding-bottom: 5rem;
    }

    .texto-nosotros {
        width: 400px;
        padding-bottom: 4rem;
    }

    .nosotros {
        width: 450px;
        height: 400px;
    }

    /*--------------------------------------------*/

    /* *** planes media *** */
    .asesorias {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin-bottom: 3rem;
        height: 28rem;
        width: 22rem;
    }

    .card img {
        height: 20rem;
    }

    .card-container {
        padding-bottom: 3rem;
    }

    .card-texto {
        height: 75%;
    }

    /*--------------------------------------------*/


    /* *** testimonios media *** */
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
        padding: 0 4rem 4rem 4rem;
    }

    /*--------------------------------------------*/

    /* *** contacto media *** */
    .hero-contacto {
        display: none;
    }

    /*--------------------------------------------*/
}

/*--------------------------------------------*/