/* ***Index content*** */
.main-index{
    padding-bottom: 2rem;
    .flex-container{
        display: flex;
        justify-content: center;
        align-items: center;
        .text{
            .frase-index{
                font-size: 7rem;
                font-weight: 100;
            }
            p{
                padding-left: 2.5rem;
            }
            a{
                .btn-index{
                    margin-top: 35px;
                    margin-left: 2.5rem;
                    height: 60px;
                    width: 250px;
                    background-color: red;
                    color: black;
                    font-family: 'Bebas Neue', sans-serif;
                    font-size: 35px;
                    border-radius: 10px;
                    letter-spacing: 1.5px;
                    border: 2px solid #f1f1f1;
                    text-align: center;    
                    line-height: 60px;
                    transition: all 0.3s ease; 
                    &:hover{
                        background-color: transparent;
                        color: red;
                        border: 2px solid red;
                        width: 300px;
                        border-radius: 10px 0 10px 10px;
                    }
                }
            }
        }
        .hero{
            background-image: url("../img/modelo-fitness.jpg");
            height: 670px;
            width: 540px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin-left: 100px;
        }
    }
}
/*--------------------------------------------*/