/* ***Cards I Apartado planes*** */
.main-planes{
    .card-container{
        display: flex;
        flex-direction: column;
        padding-bottom: 7rem;
        .asesorias{
            display: flex;
            justify-content: space-evenly;
            .card{
                height: 25.625rem;
                width: 21.25rem;
                background-color: rgb(252, 252, 33);
                border-radius: 20px 0;
                overflow: hidden;
                img{
                    height: 12.5rem;
                    width: 100%;
                }
                .card-texto{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    height: 50%;
                    p{
                        font-size: 1.10rem;
                        padding: 0 1rem 0 1rem;
                    }
                    .btn-card{
                        height: 2.5rem;
                        width: 6.25rem;
                        letter-spacing: 0.5px;
                        border-radius: 10px;
                        background-color: rgb(214, 214, 214);
                        &:hover{
                            background-color: rgb(26, 26, 26);
                            color: white;
                        }
                    }
                }
            }
        }
    }
}

.shadow-1{
    @include sombra;
}


.shadow-2{
    @include sombra(rgb(102, 43, 91));
}
/*--------------------------------------------*/