/* *** MEDIA QUERIES *** */

@media only screen and (max-width:1500px){
      /* *** testimonios *** */
        .main-testimonios{
        section{
            .grid-container{
                div{
                    .textot{
                        .t-title{
                            font-size: 1.1rem;
                        }
                        p{
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1200px){
     /* *** planes *** */
        .main-planes{
        .card-container{
            .asesorias{
                .card{
                    height: 25rem;
                    width: 18rem;
                    .card-texto{
                        height: 85%;
                        p{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    } 
                /* *** Contacto *** */
                .main-contacto{
                    .contact-content{
                        .hero-contacto{
                            height: 380px;
                            width: 500px;
                            margin-right: 1.5rem;
                        }
                    }
                }
                 /* *** testimonios *** */
        .main-testimonios{
            section{
                .grid-container{
                    div{
                        .textot{
                            display: none;
                        }
                    }
                }
            }
        }
}


@media only screen and (max-width:1002px){
            /* *** Index *** */
    .main-index{
    .flex-container{
        .text{
            .frase-index{
                font-size: 6rem;
            }
        }
        .hero{
            margin-left: 0;
        }
    }
}
}

@media only screen and (max-width:768px){
        /* *** Index *** */
        .main-index{
            .flex-container{
                padding: 3rem;
                .text{
                    .frase-index{
                        font-size: 4rem;
                    }
                    p{
                        margin-bottom: 0;
                        font-size: 16px;
                    }
                    a{
                        .btn-index{
                            height: 50px;
                            width: 200px;
                            font-size: 28px;
                            line-height: 25px;
                            &:hover{
                                width: 220px;
                            }
                        }
                    }
                }
                .hero{
                    margin-left: 3rem;
                    height: 560px;
                    width: 432px;
                }
            }
        }
        /* *** planes *** */
        .main-planes{
            .card-container{
                padding-bottom: 5rem;
                .asesorias{
                    flex-direction: column;
                    align-items: center;
                    .card{
                        margin-bottom: 3rem;
                        height: 28rem;
                        width: 22rem;
                        img{
                            height: 20rem;
                        }
                    }
                }
            }
        } 
        /* *** testimonios *** */
        .main-testimonios{
            section{
                .grid-container{
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-rows: repeat(6, 1fr);
                    padding: 0 3rem 3rem 3rem;
                    div{
                        .textot{
                            display: block;
                            .t-title{
                                font-size: 1rem;
                            }
                            p{
                                font-size: 0.8rem;
                            }
                        }
                    }
                }
            }
        }
            /* *** nosotros *** */
            .main-nosotros{
                .cont{
                    flex-direction: column;
                    padding: 0 2rem 0 2rem;
                    .texto-nosotros{
                        padding-bottom: 0;
                        width: auto;
                        p{
                            padding-bottom: 1rem;
                        }
                    }
                    .nosotros{
                        width: 550px;
                        height: 350px;
                        margin-left: 0;
                        margin-bottom: 2rem;
                        margin-top: 1rem;
                    }
                }
            }
            /* *** Contacto *** */
            .main-contacto{
                .contact-content{
                    flex-direction: column;
                    padding: 0 2.5rem 0 2.5rem;
                    .hero-contacto{
                        height: 300px;
                        width: 450px;
                        margin-top: 2rem;
                        margin-right: 0;
                    }
                }
            }
}

@media only screen and (max-width:740px){
 /* *** testimonios media *** */
    .main-testimonios{
    section{
        .grid-container{
            div{
                .textot{
                    display: none;
                }
            }
        }
    }
}
}

@media only screen and (max-width:695px){
        .main-index{
            .flex-container{
                .text{
                    .frase-index{
                        font-size: 7rem;
                    }
                    p{
                        font-size: 1.4rem;
                    }
                    a{
                        .btn-index{
                            margin-top: 42px;
                            height: 65px;
                            width: 400px;
                            font-size: 40px;
                            &:hover{
                                background-color: transparent;
                                color: red;
                                border: 2px solid red;
                                width: 420px;
                                border-radius: 10px 0 10px 10px;
                            }
                        }
                    }
                }
                .hero{
                    display: none;
                }
            }
        }
}
@media only screen and (max-width:576px){
        /* *** Index media *** */
        .main-index{
            .flex-container{
                padding-bottom: 4rem;
                .text{
                    text-align: center;
                    .frase-index{
                        font-size: 6rem;
                    }
                    p{
                        padding-right: 2rem;
                        font-size: 20px;
                    }
                    a{
                        .btn-index{
                            margin-right: 2rem;
                            height: 60px;
                            width: 300px;
                            font-size: 35px;
                            &:hover{
                                background-color: transparent;
                                color: red;
                                border: 2px solid red;
                                width: 340px;
                                border-radius: 10px 0 10px 10px;
                            }
                        }
                    }
                }
            }
        }
         /* *** planes media *** */
        .main-planes{
            .card-container{
                padding-bottom: 3rem;
                .asesorias{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .card{
                        .card-texto{
                            height: 75%;
                            h1{
                                font-size: 1.75rem ;
                            }
                            h2{
                                font-size: 1.75rem;
                            }
                            p{
                                font-size: 1.20rem;
                            }
                        }
                    }
                }
            }
        }
            /* *** testimonios media *** */
            .main-testimonios{
                section{
                    .grid-container{
                        grid-template-columns: repeat(1, 1fr);
                        grid-template-rows: repeat(12, 1fr);
                        padding: 0 4rem 4rem 4rem;
                        div{
                            .textot{
                                display: block;
                                .t-title{
                                    font-size: 1.5rem;
                                }
                                p{
                                    font-size: 1.2rem;
                                }
                            }
                        }
                    }
                }
            }
                /* *** nosotros media *** */
                .main-nosotros{
                    .cont{
                        flex-direction: column;
                        padding-bottom: 2rem;
                        .texto-nosotros{
                            width: auto;
                            padding-bottom: 0;
                        }
                        .nosotros{
                        display: none;
                        }
                    }
                }
                    /* *** contacto media *** */
                    .main-contacto{
                        .contact-content{
                            .hero-contacto{
                                display: none;
                            }
                        }
                    }
                }



@media only screen and (max-width:535px){
    /* *** index *** */
    .main-index{
        .flex-container{
            .text{
                .frase-index{
                    font-size: 4.5rem;
                }
                p{
                    font-size: 1rem;
                }
                a{
                    .btn-index{
                        font-size: 30px;
                        height: 45px;
                        width: 230px;
                        &:hover{
                            width: 250px;
                        }
                    }
                }
            }
        }
    }
    /* *** testimonios media *** */
    .main-testimonios{
        section{
            .grid-container{
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: repeat(12, 1fr);
                padding: 0 4rem 4rem 4rem;
                div{
                    .textot{
                        display: none;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:356px){
         /* *** planes media *** */
            .main-planes{
            .card-container{
                padding-bottom: 3rem;
                .asesorias{
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .card{
                        height: auto;
                        width: auto;
                        img{
                            height: auto;
                        }
                    }
                }
            }
        }
}