/* *** Header *** */

header{
    z-index: 1;
    background-color: #141514;
    position: sticky;
    top: 0;
    nav{
        img{
            height: 90px;
            width: 90px;
        }
    }
    .menu-nav{
        flex-grow: 0;
    }
    .nav-item {
        text-decoration: none;
        color: #fffdfc;
        font-size: 1.3rem;
        position: relative;
    
        &:hover {
            color: red;
    
            &::before {
                width: 100%;
            }
        }
    
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 2px;
            background-color: red;
            transition: width 0.3s ease;
            z-index: -1;
        }
    }
    .navbar-nav{
        column-gap: 1.5rem;
        letter-spacing: 2.5px;
    }
    .navbar-toggler{
        background-color: rgb(185, 4, 4);
        &:hover{
            color: white;
        }
    }
}

/*--------------------------------------------*/